@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mediametrie';
    src: url("/Mediametrie.ttf");
}

#texte {
    width: 400px;
}

@media screen and (max-width: 500px)  {
    html {
    }

    #bridge, #fond {
        width: 300px;
        height: 200px;
    }

    #texte {
        width: 320px;
    }
}