@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mediametrie';
    src: url("/Mediametrie.ttf");
}

body {
    background: url('/img/background.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#texte {
    width: 400px;
}

/* Petit device */
@media screen and (max-width: 500px)  {
    html {
    }

    #bridge, #fond {
        width: 300px;
        height: 200px;
    }

    #texte {
        width: 320px;
    }
}

/* Grand device */
@media screen and (min-width: 1400px) {
    html {

    }

    #bridge, #fond {
        width: 500px;
        height: 350px;
    }

    #texte {
        width: 500px;
    }
}

main{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

#piece{
    height: 50vh;
    max-height: 820px;
    position: relative;
    width: 41vh;
}

#holder{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
}

#painting{
    height: 100%;
    position: absolute;
    transform: translateY(0%);
    width: 100%;
    background: url("../img/fond-carte.svg");
    background-size: cover;
    top: 0;
}

#bridge {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 28vh;
    height: 18.35vh;
}



